<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/themify-icons.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="btn-rounded scroll-assist">
    <div class="nav-container">
      <nav>
        <div class="nav-bar text-center">
          <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
            <a href="/home.html">
              <div class="vnu">
                <img
                  alt="logo"
                  class="image-xxs"
                  src="img/Fuse concierge Final Logo 2.png"
                />
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs">
            <ul class="menu inline-block pull-right">
              <li class="toggle-sub">
                <a href="#">STAFFING SERVICES</a>
                <ul>
                  <li class="vpf">
                    <a href="familyoffice.html"
                      >FAMILY OFFICE &amp; CORPORATE<br
                    /></a>
                  </li>
                  <li><a href="household.html">HOUSEHOLD</a></li>
                  <li class="vpf">
                    <a href="lifestyle.html">LIFESTYLE &amp; WELLBEING<br /></a>
                  </li>
                  <li class="vpf">
                    <a href="childcare.html">CHILDCARE &amp; EDUCATION<br /></a>
                  </li>
                </ul>
              </li>
              <li><a href="hirestaff.html">HIRE STAFF</a></li>
            </ul>
          </div>

          <div class="col-sm-12 col-md-5 pb-xs-24">
            <ul class="menu">
              <li><a href="/aboutus.html">ABOUT US</a></li>
              <li class="vpf"><a href="/contact.html">CONTACT</a></li>
            </ul>
          </div>
        </div>

        <div
          class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs"
        >
          <i class="ti-menu"></i>
        </div>
      </nav>
    </div>

    <div class="main-container">
      <section class="page-title page-title-1 image-bg overlay parallax">
        <div class="background-image-holder">
          <img
            alt="Background Image"
            class="background-image"
            src="img/cover14.jpg"
          />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="uppercase mb0">ABOUT US</h2>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
              <p class="lead">
                FPS is dedicated to providing the best possible solutions for
                private staffing in every aspect of your home and lifestyle. Of
                course, we are experts in recruiting elite private staff for
                your home, but it is just as important to us to ensure your
                wellbeing is nurtured by matching you with conscientious,
                skilled lifestyle staff, too. As a specialist consultancy arm of
                the trusted Fuse Luxury Group that has been providing global
                services to HNW and UHNW individuals for years, we take pride in
                making sure we work hard in finding the right candidates.<br /><br /><br/>
              </p>
              <p>
                <h6 class="lead uppercase mb16">
                  Trust Fuse 
                </h6>
              </p>
              <p class="lead">
                Our trusted team has over 15 years of recruitment
                experience. More than 85% of our business comes from referrals,
                proof that our reputation for providing a high level of service,
                care and trust is prized by our clients. If we don't have the
                right candidate for you on our books, we will actively headhunt
                on your behalf until we find your perfect match. From nannies to
                chefs, FPS sources the candidate that is the best fit for your
                household, based on your requirements and their skill set and
                personality.<br /><br /><br/>
              </p>
              <p>
                <h6 class="lead uppercase mb16">
                  Personal Expertise, Perfect Matches
                </h6>
              </p>
              <p class="lead">
                The Fuse Private Staffing team know what our clients require from their household staff,
                having worked in private households as nannies, maternity nurses
                and housekeepers ourselves. We are particular about who we
                represent, both from a client and candidate perspective, as we
                want to ensure roles are long-lasting and relationships
                enduring. Let us help you to build your elite team of private
                and household staff to keep every area of your life running like
                clockwork.
              </p>                
            </div>
          </div>
        </div>
      </section>
      <section class="bg-secondary">
        <div class="container">
          <div class="row v-align-children">
            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
              <img class="cast-shadow" alt="Screenshot" src="img/nanny.jpeg" />
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
              <h3>Find your perfect hire</h3>
              <p>
                Foundry is your complete design toolkit, built from the ground
                up to be flexible, extensible and stylish. Building slick,
                contemporary sites has never been this easy!
              </p>
              <a class="btn-filled btn" href="/hirestaff.html">FIND STAFF</a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row v-align-children">
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
              <h3>Find your perfect job</h3>
              <p>
                Foundry is your complete design toolkit, built from the ground
                up to be flexible, extensible and stylish. Building slick,
                contemporary sites has never been this easy!
              </p>
              <a class="btn-filled btn" href="#">REGISTER WITH US</a>
            </div>
            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
              <img
                class="cast-shadow"
                alt="Screenshot"
                src="img/chauffeur.jpg"
              />
            </div>
          </div>
        </div>
      </section>

      <footer class="footer-2 bg-dark text-center-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="#"
                ><div class="vnu">
                  <img
                    class="image-xxs fade-half"
                    alt="fuse-professional-staffing-logo"
                    src="img/Final Logo 1 copy.png"
                  /></div
              ></a>
            </div>

            <div class="col-sm-4 text-center">
              <span class="fade-half">
                © Copyright 2020 Fuse Luxury Group - All Rights Reserved
              </span>
            </div>

            <div class="col-sm-4 text-right text-center-xs">
              <ul class="list-inline social-list">
                <li>
                  <a href="#"><i class="ti ti-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti ti-twitter-alt"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
