<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/themify-icons.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="btn-rounded">
    <div class="nav-container">
      <nav>
        <div class="nav-bar text-center">
          <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
            <a href="home.html">
              <div class="vnu">
                <img
                  alt="logo"
                  class="image-xxs"
                  src="img/Fuse concierge Final Logo 2.png"
                />
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs">
            <ul class="menu inline-block pull-right">
              <li class="toggle-sub">
                <a href="#">STAFFING SERVICES</a>
                <ul>
                  <li class="vpf">
                    <a href="familyoffice.html"
                      >FAMILY OFFICE &amp; CORPORATE<br
                    /></a>
                  </li>
                  <li><a href="household.html">HOUSEHOLD</a></li>
                  <li class="vpf">
                    <a href="lifestyle.html">LIFESTYLE &amp; WELLBEING<br /></a>
                  </li>
                  <li class="vpf">
                    <a href="childcare.html">CHILDCARE &amp; EDUCATION<br /></a>
                  </li>
                </ul>
              </li>
              <li><a href="hirestaff.html">HIRE STAFF</a></li>
            </ul>
          </div>

          <div class="col-sm-12 col-md-5 pb-xs-24">
            <ul class="menu">
              <li><a href="aboutus.html">ABOUT US</a></li>
              <li class="vpf"><a href="contact.html">CONTACT</a></li>
            </ul>
          </div>
        </div>

        <div
          class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs"
        >
          <i class="ti-menu"></i>
        </div>
      </nav>
    </div>

    <div class="main-container">
      <section class="page-title page-title-1 image-bg overlay parallax">
        <div class="background-image-holder">
          <img
            alt="Background Image"
            class="background-image"
            src="img/cover14.jpg"
          />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="uppercase mb0">CONTACT US</h2>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-5">
              <h4 class="uppercase">Get In Touch</h4>
              <p>
                We’d love to hear from you. Whether you’re looking to make a
                hire for your household, or would like to register your details
                to find a new position - contact us today. Our experienced staff
                are dedicated to finding happy matches for both employees and
                employers, so you can have every confidence in choosing us.
              </p>
              <hr />
              <p>
                <strong>Fuse Private Staffing</strong> <br />
                43 Berkeley Square <br />
                Mayfair <br />
                London <br />
                W1J 5AP <br />
              </p>
              <hr />
              <p>
                <strong>Email</strong>
                <br />
                info@fuseconcierge.com
              </p>
              <hr />
              <p>
                <strong>PHONE</strong>
                <br />

                <strong>London</strong> +44 (0)207 078 4243
                <br />
                <strong>New York</strong> +1 646-661-3554
                <br />
                <strong>Los Angeles</strong> +1 424-281-7722
                <br />
                <strong>New York</strong> +1 646-661-3554
              </p>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
              <form
                class="form-email"
                data-success="Thanks for your submission, we will be in touch shortly."
                data-error="Please fill all fields correctly."
              >
                <input
                  type="text"
                  class="validate-required"
                  name="name"
                  placeholder="Your Name"
                />
                <input
                  type="text"
                  class="validate-required validate-email"
                  name="email"
                  placeholder="Email Address"
                />
                <textarea
                  class="validate-required"
                  name="message"
                  rows="4"
                  placeholder="Message"
                ></textarea>
                <button type="submit">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-2 bg-dark text-center-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="#"
                ><div class="vnu">
                  <img
                    class="image-xxs fade-half"
                    alt="fuse-professional-staffing-logo"
                    src="img/Final Logo 1 copy.png"
                  /></div
              ></a>
            </div>

            <div class="col-sm-4 text-center">
              <span class="fade-half">
                © Copyright 2020 Fuse Luxury Group - All Rights Reserved
              </span>
            </div>

            <div class="col-sm-4 text-right text-center-xs">
              <ul class="list-inline social-list">
                <li>
                  <a href="#"><i class="ti ti-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti ti-twitter-alt"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
