<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/themify-icons.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/flexslider.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="btn-rounded">
    <div class="nav-container">
      <nav>
        <div class="nav-bar text-center">
          <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
            <a href="/home.html">
              <div class="vnu">
                <img
                  alt="logo"
                  class="image-xxs"
                  src="img/Fuse concierge Final Logo 2.png"
                />
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs">
            <ul class="menu inline-block pull-right">
              <li class="toggle-sub">
                <a href="#">STAFFING SERVICES</a>
                <ul>
                  <li class="vpf">
                    <a href="/views/familyoffice.html"
                      >FAMILY OFFICE &amp; CORPORATE<br
                    /></a>
                  </li>
                  <li><a href="/views/household.html">HOUSEHOLD</a></li>
                  <li class="vpf">
                    <a href="/views/lifestyle.html"
                      >LIFESTYLE &amp; WELLBEING<br
                    /></a>
                  </li>
                  <li class="vpf">
                    <a href="/views/childcare.html"
                      >CHILDCARE &amp; EDUCATION<br
                    /></a>
                  </li>
                </ul>
              </li>
              <li><a href="/views/hirestaff.html">HIRE STAFF</a></li>
            </ul>
          </div>

          <div class="col-sm-12 col-md-5 pb-xs-24">
            <ul class="menu">
              <li><a href="/views/aboutus.html">ABOUT US</a></li>
              <li class="vpf"><a href="/views/contact.html">CONTACT</a></li>
            </ul>
          </div>
        </div>

        <div
          class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs"
        >
          <i class="ti-menu"></i>
        </div>
      </nav>
    </div>

    <div class="main-container">
      <section
        class="image-slider slider-all-controls controls-inside parallax pt0 pb0 height-70"
      >
        <ul class="slides">
          <li class="overlay image-bg">
            <div class="background-image-holder">
              <img
                alt="image"
                class="background-image"
                src="img/home-2-8.jpg"
              />
            </div>
            <div class="container v-align-transform">
              <div class="row text-center">
                <div class="col-md-10 col-md-offset-1">
                  <h2 class="mb-xs-16">
                    Successfully matching families with household staff<br />
                  </h2>
                  <p class="lead mb40">
                    Powered by the Fuse Luxury Group <br />
                  </p>
                  <a class="btn btn-lg btn-filled" href="#"
                    >I'M LOOKING FOR STAFF</a
                  >
                  <a class="btn btn-lg" href="#">I'm looking for work</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section class="image-edge">
        <div class="col-md-6 col-sm-4 p0">
          <img alt="" class="mb-xs-24" src="img/butler.jpg" />
        </div>
        <div class="container">
          <div
            class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right"
          >
            <h1 class="large mb60 mb-xs-16">Top Staff</h1>
            <h6 class="uppercase mb16">
              PROVIDING THE BEST DOMESTIC STAFF&nbsp;<br />
            </h6>
            <p class="lead mb40">
              At FPS, we build a solid relationship with each of our clients to
              fully understand your lifestyle needs. We are skilled at finding
              the perfect staff for your home, but we also believe wellness
              professionals have a huge part to play in helping you live a more
              fulfilling life.
            </p>
            <p class="lead mb40">
              You might be looking for a nanny, housekeeper, maternity nurse,
              private chef, yoga instructor, butler, or a property manager - the
              FPS team can take care of all of it. We will source the candidate
              that is the best fit for your whole family by matching your
              requirements with their skill set and personality, so you can be
              confident in every new addition to your household.
            </p>
            <a class="btn-lg btn" href="#">FIND STAFF NOW</a>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
              <div class="feature bordered">
                <h1 class="large uppercase mb64 mb-xs-24">
                  Our staff services
                </h1>
                <p class="lead mb40">
                  We understand that every aspect of your home and wellness
                  needs to be taken care of. Our connections are the best staff
                  in their industry to ensure you have all areas of your
                  <br />life covered, including:

                  <li class="lead mb12">Household and Maintenance</li>
                  <li class="lead mb12">Childcare and Education</li>
                  <li class="lead mb12">Family Offices and Corporate</li>
                  <li class="lead mb12">Lifestyle and Wellbeing</li>
                </p>
                <a class="btn btn-lg btn-filled inner-link" href="#book-table"
                  >FIND STAFF NOW</a
                >
              </div>
            </div>
            <div class="col-sm-5">
              <img
                class="mt80 mt-xs-0 mb24"
                alt="gardener-image"
                src="img/gardner.jpeg"
              />
              <img
                class="col-md-pull-4 relative"
                alt="chef-image"
                src="img/chef.jpg"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="bg-secondary">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <h3 class="mb64 uppercase">SATISFIED CUSTOMERS</h3>
              <div class="testimonials text-slider slider-arrow-controls">
                <ul class="slides">
                  <li>
                    <p class="lead">
                      It's clear to see just how seriously these guys take
                      design. I've never come across a template with the level
                      of polish as this - and don't even get me started on the
                      page builder, there is simply NO competition. Customer for
                      life.
                    </p>
                    <div class="quote-author">
                      <img alt="Avatar" src="img/avatar1.png" />
                      <h6 class="uppercase">Anna Thompson</h6>
                      <span>Themeforest Customer</span>
                    </div>
                  </li>
                  <li>
                    <p class="lead">
                      I love the ease-of-use the builder provides - I can
                      quickly test different combinations and experiment with
                      font and color combinations to find that sweet spot. Kudos
                      for the amazing support too, really quick turnaround!
                    </p>
                    <div class="quote-author">
                      <img alt="Avatar" src="img/avatar2.png" />
                      <h6 class="uppercase">Rick Dempsey</h6>
                      <span>Themeforest Customer</span>
                    </div>
                  </li>
                  <li>
                    <p class="lead">
                      A fine example of atomic design brought to life. As a
                      seasoned template user, I really appreciate the consistent
                      styling for all common tags, it makes customising the
                      sections that much easier. 5 stars as always for an
                      amazing template.
                    </p>
                    <div class="quote-author">
                      <img alt="Avatar" src="img/avatar3.png" />
                      <h6 class="uppercase">Gill Sans</h6>
                      <span>Themeforest Customer</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-secondary">
        <div class="container">
          <div class="row v-align-children">
            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
              <div class="local-video-container">
                <div class="background-image-holder">
                  <img
                    alt="Background Image"
                    class="background-image"
                    src="img/home3.jpg"
                  />
                </div>
                <video controls="">
                  <source src="video/video.webm" type="video/webm" />
                  <source src="video/video2.mp4" type="video/mp4" />
                  <source src="video/video.ogv" type="video/ogg" />
                </video>
                <div class="play-button"></div>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
              <h3>From the team that understands you...</h3>
              <p>
                Fuse Private Staff is part of the Fuse Luxury Group, a company
                that provides services to UHNW and HNW individuals globally. A
                key part of our company is Fuse Concierge, a trusted lifestyle
                management service chosen by clients ranging from royalty to
                sports stars and tech entrepreneurs.
              </p>
              <p>
                Through our years of successful lifestyle management, it became
                clear we needed to fully understand their households. It's the
                key to understanding how we best serve each client. We created
                FPS to serve that need, and are proud to offer a staffing
                service upholding Fuse's core values: trust, integrity, and a
                great customer experience.
              </p>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-2 bg-dark text-center-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="#"
                ><div class="vnu">
                  <img
                    class="image-xxs fade-half"
                    alt="fuse-professional-staffing-logo"
                    src="img/Final Logo 1 copy.png"
                  /></div
              ></a>
            </div>

            <div class="col-sm-4 text-center">
              <span class="fade-half">
                © Copyright 2020 Fuse Luxury Group - All Rights Reserved
              </span>
            </div>

            <div class="col-sm-4 text-right text-center-xs">
              <ul class="list-inline social-list">
                <li>
                  <a href="#"><i class="ti ti-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti ti-twitter-alt"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
